<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests">
  <listeners>
  <listener class-name="TESTING.E2EProject.Listeners"></listener>
  
  </listeners>
    
    <test name="TC_01">
		<classes>
			<class name="TESTING.E2EProject.TC_01_Registration" />

		</classes>
	</test>
	
	<test name="TC_02">
		<classes>
			<class name="TESTING.E2EProject.TC_02_Login" />

		</classes>
	</test>
	
	<test name="TC_03">
		<classes>
			<class name="TESTING.E2EProject.TC_03_AddToCart" />

		</classes>
	
  </test> <!-- Test -->
</suite> <!-- Suite -->
